.centerhero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    color: #fff;
    min-height: 70vh;
    line-height: 70vh;
    top: 0;

}

.dark-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: #000;
    opacity: .6;
    z-index: 100000000;
}

.frijole-regular {
    font-family: "Frijole", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow-x: hidden;

}